.jlpt__card_section {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}
.jlpt__card {
    padding: 20px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #FFF4F5;
}

/*.bg__all {*/
/*    background-color: rgba(255, 246, 126, 0.3);*/
/*}*/
/*.bg__one {*/
/*    background-color: rgba(202, 244, 255, 0.5);*/
/*    background-color: rgba(255, 246, 126, 0.3);*/
/*}*/
/*.bg__two {*/
/*    background-color: rgba(205, 250, 219, 0.6);*/
/*    background-color: rgba(255, 246, 126, 0.3);*/
/*}*/
/*.bg__three {*/
/*    background-color: rgba(255, 128, 128, 0.1);*/
/*    background-color: rgba(255, 246, 126, 0.3);*/
/*}*/
/*.bg__four {*/
/*    background-color: rgba(255, 214, 165, 0.5);*/
/*    background-color: rgba(255, 246, 126, 0.3);*/
/*}*/
/*.bg__five {*/
/*    background-color: rgba(246, 253, 195, 0.7);*/
/*    background-color: rgba(255, 246, 126, 0.3);*/
/*}*/
