.jlpt__card_section {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}
.jlpt__card {
    padding: 20px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #FFF4F5;
}