.kana__tab_wrap {
    margin-top: 48px;
    height: 40px;
    display: flex;
}
.kana__tab_active {
    color: '#33333';
    border: 1px solid azure;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: azure; */
    font-weight: 800;
}
.kana__tab_inactive {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #EEEEEE;
}
.kana__wrap {
    padding: 10px 20px 80px 20px;
    /* background-color: azure; */
}

.kana__all_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.kana__all_word {
    font-family: Pretendard;
    font-size: 22px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border-radius: 20px;
}
.kana__all_word__extra {
    font-family: Pretendard;
    font-size: 22px;
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    border-radius: 20px;
}
.kana__card {

}
